---

extends: default

ignore: |
  env

rules:
  colons:
    max-spaces-after: -1
  comments:
    level: error
  comments-indentation:
    level: error
  document-start:
    level: error
  empty-values: enable
  line-length:
    max: 100
