object ApiUser "{{ item.key }}" {
   password = "{{ item.value.password }}"
   {% if item.value.permissions is defined %}
   permissions = [ "{{ item.value.permissions | join('", "') }}" ]
   {% endif %}
}
