// {{ ansible_managed }}
{% import 'object_attributes.j2' as attributes %}

{% for object_name, params in item.value.iteritems() %}
object {{ item.key }} "{{ object_name }}" {
   {{ attributes.attrs(params) -}}
}
{% endfor %}
