// {{ ansible_managed }}
{% import 'object_attributes.j2' as attributes %}

{% for rule_name, params in item.value.items() %}

{% set target = params.pop('target', None) %}
{% set iterator = params.pop('iterator', None) %}
{% set operators = params.pop('var_operators', None) %}

apply {{ item.key }} "{{ rule_name }}{% if iterator is defined and iterator is not none -%}
-" for ({% if iterator is string %}{{ iterator }}{% else %}{{ iterator.key }} => {{ iterator.value }} in {{ iterator.in }}{% endif %})
{%- else -%}"{%- endif -%}{% if target in ['Host', 'Service'] %} to {{ target }} {% endif -%}
{
{% if params.attributes is defined -%}
{{ attributes.attrs(params.attributes) -}}
{%- endif %}
{% if params.variables is defined -%}
{{ attributes.attrs(params.variables, 'vars.') -}}
{%- endif %}
{% if params.attributes is not defined and params.variables is not defined %}
{{ attributes.attrs(params) -}}
{% endif %}
{% if operators is defined and operators is not none and operators|length -%}
    {%- for operator, params in operators.items() %}
        {% if params is iterable and params is not string -%}
            {{ attributes.attrs({ 'vars': params }, '', operator, iterator) }}
        {% else %}
            {{ attributes.eval_value('vars', params, '', operator, iterator) }}
        {% endif -%}
    {% endfor -%}
{% endif -%}
}
{% endfor %}
