{% macro attrs(map, prefix="", exclude=[]) %}
  {% for k, v in map.items() %}
    {%- if v is mapping %}
      {{ mapdict(k, v, prefix) | indent(width=2)}}
    {%- else %}
      {{ eval_value(k, v, prefix) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro mapdict(key, dictionary, prefix="") %}
{{ key|icingakey(prefix) }} = {
{% for subkey, value in dictionary.items() -%}
{% if value is mapping -%}
{{ mapdict(subkey, value) | indent(width=2) }}
{% else -%}
{{ eval_value(subkey, value) }}
{% endif -%}
{% endfor -%}
}
{% endmacro %}

{% macro eval_value(orig_key, val, prefix="") -%}
{% set key = prefix + orig_key if prefix is defined %}
{% if val is iterable and orig_key in ['command'] -%}
  {{ key }} = [ {{ val | map('constants') | join(' + ') }} ]
{% elif orig_key in ['import'] -%}
{% for template in val if val is not string -%}
  {{ key }} "{{ template }}"
{% endfor %}
{% elif val is iterable and orig_key in ['assign', 'ignore'] -%}
  {{ key }} where {{ val | join(' && ') }}
{% elif val is iterable and val is not string -%}
  {{ key }} = [ {{ val | map('constants') | join(', ') }} ]
{% elif val | bool is sameas false and val | string | lower == "false" -%}
  {{ key }} = false
{% elif val is defined and val is sameas true -%}
  {{ key }} = true
{% else -%}
  {{ key }} = {{ val|icinga_vars }}
{% endif -%}
{% endmacro -%}
