// {{ ansible_managed }}
{% import 'object_attributes.j2' as attributes %}

{% for object_name, params in item.value.items() %}
template {{ item.key }} "{{ object_name }}" {
{% if params.attributes is defined -%}
{{ attributes.attrs(params.attributes) -}}
{% endif -%}
{% if params.variables is defined -%}
{{ attributes.attrs(params.variables, 'vars.') -}}
{% endif -%}
{% if params.conditionals is defined -%}
{% for conditional in params.conditionals %}
{% set condition = conditional.pop('condition') %}
if ({{ condition }}) {
  {{ attributes.attrs(conditional) -}}
}
{% endfor %}
{% endif -%}
}
{% endfor %}
